form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1em;
}


.text-inputs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 1.5em;

}

#row-inputs { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;

    
}

@media only screen and (min-width: 768px) {
/* .text-inputs {
    padding-right: 1em;
};

#row-inputs {
    padding-right: 2em;
    margin-right: 2em;
} */

};
